
.home-container {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0; /* Light grey background */
  }
  
  .home-title {
    font-size: 3em; /* Large font size */
    color: #2c3e50; /* Darker color */
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .navbar {
    margin: 20px 0; /* Margin above and below the nav bar */
  }
  
  .nav-link {
    margin: 0 15px; /* Spacing between links */
    font-size: 1.2em; /* Font size for links */
    color: #3498db; /* Link color */
    text-decoration: none; /* Remove underline */
  }
  
  .nav-link:hover {
    color: #2980b9; /* Darker color on hover */
    text-decoration: underline; /* Underline on hover */
  }
  
  .home-subtitle {
    font-size: 1.5em;
    color: #34495e; /* Slightly lighter color */
    margin-bottom: 10px;
  }
  
  .home-description {
    font-size: 1.2em;
    color: #7f8c8d; /* Lighter grey color */
    margin-bottom: 20px;
  }
  
  .responsive-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  