body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    font-size: 16px;
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  
  h3 {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
  }
  
  p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
    text-align: center;
  }
  
  .input {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    display: block; /* This ensures the inputs are treated as block elements, stacking vertically */
    margin-left: auto; /* Center the input horizontally */
    margin-right: auto; /* Center the input horizontally */
  }
  .button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  