/* filterSideBar.module.css */
.sidebar {
  margin-top: 235px;
  margin-left: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Adjust the width as needed */
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
  z-index: 1000; /* Make sure it's above other content */
}

.filterWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
