.sliderWrapper {
  border: 2px solid #e8e8e8;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  min-height: 40px;
  position: relative;
  margin-bottom: 8px;
}

.headerWrapper2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 40px;
  cursor: pointer;
}

.dropdownWrapper {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: auto;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.sliderClass {
  margin-top: 1rem;
}

.sliderLinesClass {
  width: 100%;
  margin-bottom: 0.5rem;
}
